@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Lato", sans-serif !important; */
  font-family: "Poppins", sans-serif !important;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  border-radius: 0;
}

/* Customize the Layer Control container */
.leaflet-control-layers {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Shadow for a 3D effect */
  font-family: "Arial", sans-serif; /* Custom font */
}

/* Customize the Layer Control toggle button */
.leaflet-control-layers-toggle {
  border-radius: 5px; /* Rounded corners */
  width: 30px; /* Custom width */
  height: 30px; /* Custom height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* White icon */
  font-size: 20px; /* Increase icon size */
}

/* Customize the Layer Control list */
.leaflet-control-layers-list {
  padding: 10px; /* Add padding */
}

/* Customize the individual layer items */
.leaflet-control-layers-list label {
  display: flex;
  align-items: center;
  padding: 5px 0; /* Add padding between items */
}

/* Customize the layer checkbox */
.leaflet-control-layers-list input[type="checkbox"] {
  margin-right: 10px; /* Space between checkbox and label */
}

/* Customize hover effect on the layer items */
.leaflet-control-layers-list label:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Light blue background on hover */
}

/* Adjust the width of the control layers list */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  width: 200px; /* Custom width */
}

/* Popup  */
.popup-content {
  display: block; /* Ensure the content is displayed */
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/*MUI*/

/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 8px !important;
} */

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
}

.z-500 {
  z-index: 500;
}

/* MUI Button */
.css-1fu7jd5-MuiButtonBase-root-MuiButton-root,
.css-jt6ki8-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
}

/* calander in the searchResults component */
.rdrDateDisplayWrapper {
  padding: 16px 16px 0px 16px;
}
.rdrDateDisplayWrapper,
.rdrCalendarWrapper {
  border-radius: 20px;
}

.rdrDateDisplayWrapper,
.rdrCalendarWrapper {
  width: 400px;
  height: 450px;
  font-size: 16px;
}

.rdrDateDisplayItem + .rdrDateDisplayItem,
.rdrDateDisplayItemActive {
  border-radius: 14px;
}

.rdrDateDisplayItem {
  border-radius: 14px;
}
.rdrMonths {
  height: 300px;
}

.rdrInRange,
.rdrStartEdge,
.rdrDayEndOfMonth .rdrDayInPreview,
.rdrDayEndOfMonth .rdrDayStartPreview,
.rdrDayEndOfWeek .rdrDayInPreview,
.rdrDayEndOfWeek .rdrDayStartPreview,
.rdrDayEndPreview,
.rdrEndEdge {
  color: #15803d !important;
}

.rdrDayToday .rdrDayNumber span:after {
  color: #15803d !important;
  background: #15803d;
}

.rdrMonth {
  width: 100%;
  font-weight: bold;
}

.rdrDays {
  width: 100%;
}

.rdrDayNumber span {
  font-weight: bold;
}

.rdrWeekDay {
  font-weight: bold;
}

.custom-box-shadow {
  @apply shadow-custom;
}

/* Custom scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
  border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

/* Image hover */

.transition-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, visibility 200ms ease;
}

.transition-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease, visibility 200ms ease;
}

/* swiper Pagination */

/* .swiper-pagination-bullet{
  background: black;
  opacity: .4;
}

.swiper-pagination-bullet-active{
  background: black;
  opacity: 1;
}

.swiper-wrapper{
  padding-bottom: 40px;
} */

.fade-container {
  position: relative;
}

.fade-container::before,
.fade-container::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 60px; /* Adjust fade width */
  pointer-events: none;
  z-index: 5;
}

.fade-container::before {
  left: 0;
  background: linear-gradient(to right, #f9f9f9, rgba(255, 255, 255, 0));
}

.fade-container::after {
  right: 0;
  background: linear-gradient(to left, #f9f9f9, rgba(255, 255, 255, 0));
}
