@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Lato", sans-serif !important;
}


.leaflet-popup-content-wrapper {
  width: fit-content !important;
  border-radius: 0;
}

.leaflet-popup-content {
  width: fit-content !important;
  margin: 0;
}

.leaflet-container a.leaflet-popup-close-button {
  color: black;
}

.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container a.leaflet-popup-close-button:focus {
  color: white;
}

.css-1nbsiwm-MuiRating-root {
  font-size: 16px !important;
}
.leaflet-touch .leaflet-control-geocoder-icon {
  width: 30px;
  height: 30px;
}

.leaflet-control-geocoder-form {
  display: block;
  height: 0px;
  overflow: hidden;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
  height: 30px;
}

.leaflet-control-geocoder-form input {
  font-size: 120%;
  border: 0;
  background-color: transparent;
  width: 0;
  height: 0px;
  transition: width 0.5s ease;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form input {
  width: 246px;
  height: 30px;
  transition: width 0.5s ease;
}


/* Layers */



/* Customize the Layer Control container */
.leaflet-control-layers {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Shadow for a 3D effect */
  font-family: 'Arial', sans-serif; /* Custom font */
}

/* Customize the Layer Control toggle button */
.leaflet-control-layers-toggle {
  border-radius: 5px; /* Rounded corners */
  width: 30px; /* Custom width */
  height: 30px; /* Custom height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* White icon */
  font-size: 20px; /* Increase icon size */
}

/* Customize the Layer Control list */
.leaflet-control-layers-list {
  padding: 10px; /* Add padding */
}

/* Customize the individual layer items */
.leaflet-control-layers-list label {
  display: flex;
  align-items: center;
  padding: 5px 0; /* Add padding between items */
}

/* Customize the layer checkbox */
.leaflet-control-layers-list input[type="checkbox"] {
  margin-right: 10px; /* Space between checkbox and label */
}

/* Customize hover effect on the layer items */
.leaflet-control-layers-list label:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Light blue background on hover */
}

/* Adjust the width of the control layers list */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  width: 200px; /* Custom width */
}

/* Popup  */
.popup-content {
  display: block; /* Ensure the content is displayed */
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/*MUI*/

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 8px !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
  text-transform: none !important;
}

.z-500{
  z-index: 500;
}

/* MUI Button */
.css-1fu7jd5-MuiButtonBase-root-MuiButton-root, .css-jt6ki8-MuiButtonBase-root-MuiButton-root{
  text-transform: none !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  text-transform: none !important;

}


/* calander in the searchResults component */
.rdrDateDisplayWrapper{
  padding: 16px 16px 0px 16px;
}
.rdrDateDisplayWrapper, .rdrCalendarWrapper{
  border-radius: 20px;
}

.rdrDateDisplayWrapper, .rdrCalendarWrapper{
  width: 400px;
  height: 450px;
  font-size: 16px;
}

.rdrDateDisplayItem + .rdrDateDisplayItem, .rdrDateDisplayItemActive{
  border-radius: 14px;
}

.rdrDateDisplayItem{
  border-radius: 14px;
}
.rdrMonths{
  height: 300px;
}

.rdrInRange, .rdrStartEdge, .rdrDayEndOfMonth .rdrDayInPreview, .rdrDayEndOfMonth .rdrDayStartPreview, .rdrDayEndOfWeek .rdrDayInPreview, .rdrDayEndOfWeek .rdrDayStartPreview, .rdrDayEndPreview, .rdrEndEdge{
  color:   #15803D !important;
}

.rdrDayToday .rdrDayNumber span:after{
  color:   #15803D !important;
  background:   #15803D;
}

.rdrMonth{
  width: 100%;
  font-weight: bold;
}

.rdrDays{
  width: 100%;
}

.rdrDayNumber span{
  font-weight: bold;
}

.rdrWeekDay{
  font-weight: bold;
}

.custom-box-shadow {
  @apply shadow-custom;
}

/* Custom scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
  border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}
